@font-face {
  font-family: Vazir;
  src: url('https://fonts.simorgh.me/Vazir.eot');
  src: url('https://fonts.simorgh.me/Vazir.eot?#iefix') format('embedded-opentype'),
       url('https://fonts.simorgh.me/Vazir.woff2') format('woff2'),
       url('https://fonts.simorgh.me/Vazir.woff') format('woff'),
       url('https://fonts.simorgh.me/Vazir.ttf') format('truetype');
  font-weight: normal;
}
